<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" width=device-width,
          maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 20; margin: 15;} </style>


    <meta charset="UTF-8">
    <style>
    body{
        text-align: center; align:center;
    }
    h1{
        font-family: 'Amatic SC', cursive;
        font-weight: normal;
        color: #8ac640;
        font-size: 2.5em;
    }
    </style>
    {% if title %}
        <title>Flask_Keras - {{ title }}</title>
    {% else %}
        <title>Flask_Keras</title>
    {% endif %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>