<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    body{
        text-align: center; align:center;
    }
    h1{
        font-family: 'Amatic SC', cursive;
        font-weight: normal;
        color: #8ac640;
        font-size: 2.5em;
    }
    </style>
    {% if title %}
        <title>Flask_Keras - {{ title }}</title>
    {% else %}
        <title>Flask_Keras</title>
    {% endif %}
</head>
<body>

      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/About">About</a>
            </div>
          </div>
        </div>
      </nav>

    <main role="main" class="container">
        <div class="col-md-8">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>
</html>